<!DOCTYPE html>

<html lang="en">
  <head>
  	<meta charset="utf-8">
  </head>
  
  <body>
  	<div>
  	<p>Dear {{ name }},</p>
  	<p>
  	  This is a notice to remind you that the book <b>"{{ title }}"</b> will be due on <b>{{ due_date }}</b>.<br />
  	  Please remember to return it to the CCBC Library before due date, or if applicable, renew it.<br />
  	  <br />If you have already returned this book, please disregard this message.
  	</p>
  	<p>
  	  Kind regards,<br />
  	  CCBC Library team
  	</p>
  	</div>
  </body>
 </html>