{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <div class="page-header">
                <div class="jumbotron">
                	<h2>Welcome to CCBC Library!</h2>
                </div>
                <h3>I want to ...</h3>
    </div>
            <div class="row text-center">
              <div class="col-md-4 text-center">
            	<a href="{% url 'ccbclib:borrow'%}" class="btn btn-success btn-lg"> 
            	Borrow a book </a>
              </div>
              <div class="col-md-4 text-center">
            	<a href="{% url 'ccbclib:renew'%}" class="btn btn-success btn-lg"> 
            	Renew a book </a>
              </div>
              <div class="col-md-4 text-center">
                <a href="{% url 'ccbclib:return'%}" class="btn btn-success btn-lg"> 
                Return a book </a>
              </div>
            </div>
            <br /><br /><br />
            <div class="row text-center">
            	<a href="{% url 'ccbclib:borrower_list'%}"class="btn btn-danger btn-lg"> 
            	Add/View/Edit borrowers </a>
            </div>
{% endblock %}